[Unit]
Description=Daily Check for Oracle TLS Certificate Updates

[Timer]
# Run once a day at 2:00 AM server time
OnCalendar=*-*-* 02:00:00
Persistent=true
RandomizedDelaySec=1800

[Install]
WantedBy=timers.target
