# ANSIBLE MANAGED FILE - sqlnet.ora
NAMES.DIRECTORY_PATH= (TNSNAMES, EZCONNECT)

WALLET_LOCATION =
  (SOURCE =
    (METHOD = FILE)
    (METHOD_DATA =
      (DIRECTORY = {{ tls_wallet_dir }})
    )
  )

SSL_CLIENT_AUTHENTICATION = FALSE
