{{ asm_sid }}.instance_type=ASM
{{ asm_sid }}.asm_diskstring='{{ asm_diskstring }}'
{{ asm_sid }}.remote_login_passwordfile='EXCLUSIVE'
{{ asm_sid }}.processes=1024
{% if (oracle_ver_base | float) <= 18.0 %}{{ asm_sid }}.use_large_pages=FALSE{% endif %}
