# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

[Unit]
Description=dbora.service
Requires=network.target local-fs.target swap.target sysinit.target
After=network.target local-fs.target swap.target sysinit.target
Before=umount.target shutdown.target
RequiresMountsFor={% for mount in oracle_user_data_mounts %} {{ mount.mount_point }}{% endfor %}

[Service]
LimitMEMLOCK=infinity
LimitNOFILE=65535

Type=forking
User={{ oracle_user }}
Group={{ oracle_group }}
Restart=no
KillMode=control-group
TimeoutStopSec=60
ExecStart=/bin/bash -c '{{ scripts_dir }}/start_all.sh'
ExecStop=/bin/bash -c '{{ scripts_dir }}/stop_all.sh'

[Install]
WantedBy=multi-user.target
