#!/bin/bash
# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

rc=0

while IFS=':' read -r ORACLE_SID ORACLE_HOME AUTOSTART_FLAG; do
    if [[ "$AUTOSTART_FLAG" =~ [Yy] ]]; then
        PATH_SAVE="$PATH"
        LD_LIBRARY_PATH_SAVE="$LD_LIBRARY_PATH"
        export ORACLE_SID ORACLE_HOME
        export PATH="$ORACLE_HOME/bin:$PATH"
        export LD_LIBRARY_PATH="$ORACLE_HOME/lib:$LD_LIBRARY_PATH"
        if pgrep -f "tnslsnr.*{{ listener_name }}" ; then
            echo Stopping listener {{ listener_name }}
            "$ORACLE_HOME"/bin/lsnrctl stop {{ listener_name }}
        fi
        if pgrep -f "[ora|db]_smon_$ORACLE_SID" ; then
            echo "Stopping Oracle instance $ORACLE_SID"
            sqlplus -S / as sysdba << EOF
SET SERVEROUTPUT ON;
SET TERMOUT ON FEED OFF ECHO OFF;
DECLARE
    v_database_role VARCHAR2(30);
    v_open_mode     VARCHAR2(30);
BEGIN
    SELECT database_role, open_mode INTO v_database_role, v_open_mode FROM V\$DATABASE;
    IF v_database_role = 'PHYSICAL STANDBY' THEN
        DBMS_OUTPUT.PUT_LINE('Current role is PHYSICAL STANDBY. Stopping managed recovery.');
        EXECUTE IMMEDIATE 'ALTER DATABASE RECOVER MANAGED STANDBY DATABASE CANCEL';
    END IF;
END;
/
WHENEVER OSERROR EXIT FAILURE
WHENEVER SQLERROR EXIT FAILURE
SHUTDOWN IMMEDIATE;
EXIT;
EOF
            if [ $? -ne 0 ]; then
                echo "ERROR: Failed to stop $ORACLE_SID"
                rc=1
            else
                echo "Oracle instance $ORACLE_SID is stopped"
            fi
        fi
        PATH="$PATH_SAVE"
        LD_LIBRARY_PATH="$LD_LIBRARY_PATH_SAVE"
        export PATH LD_LIBRARY_PATH
    fi
done < <(sed 's/#.*//; /^[[:space:]]*$/d' /etc/oratab)

exit "$rc"
