# Copyright 2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
---
# This task validates the compatibility of the Oracle and Linux versions
# using the `oracle_compatibility_matrix` from compatibility-vars.yml
#

# oracle release is I believe always at least 4 components: N+.N+.N+.N+
# eg. 11.2.0.4
# if the version is 12, get 12.1 or 12.2. otherwise just the first element

- name: Get Oracle Major Version
  ansible.builtin.set_fact:
    oracle_major_ver: "{{ oracle_ver.split('.')[0] }}{% if oracle_ver.split('.')[0] | int == 12 %}.{{ oracle_ver.split('.')[1] }}{% endif %}"

- name: Get base and latest releases
  block:
    - name: Create a list of releases for the target base version | not 11g
      ansible.builtin.set_fact:
        releases_for_base: "{{ rdbms_patches | selectattr('base', 'match', oracle_ver_base) | selectattr('category', 'eq', 'DB_RU') | map(attribute='release') | list }}"
      when: oracle_ver_base is not match('^11.2.*')

    - name: Create a list of releases for the target base version | 11g
      ansible.builtin.set_fact:
        releases_for_base: "{{ rdbms_patches | selectattr('base', 'match', oracle_ver_base) | selectattr('category', 'eq', 'PSU_Combo') | map(attribute='release') | list }}"
      when: oracle_ver_base is match('^11.2.*')

    - name: Set lowest and highest release from the list
      ansible.builtin.set_fact:
        lowest_release: "{{ releases_for_base | min }}"
        highest_release: "{{ releases_for_base | max }}"
      # This task should only run if the list is not empty
      when: releases_for_base | length > 0

    - name: Display the results
      ansible.builtin.debug:
        msg:
          - "For base version {{ oracle_ver_base }}:"
          - "  Lowest Release: {{ lowest_release }}"
          - "  Highest Release: {{ highest_release }}"
      # This task should also only run if we found releases
      when: releases_for_base | length > 0

- name: Determine Oracle RU | default
  ansible.builtin.set_fact:
    oracle_ru_ver: "{{ oracle_rel.split('.')[0] ~ '.' ~  oracle_rel.split('.')[1]  ~ '.' ~  oracle_rel.split('.')[3]  ~ '.' ~  oracle_rel.split('.')[4] -}}"
  when: oracle_rel not in  ['base', 'latest']

- name: Determine Oracle RU | base
  ansible.builtin.set_fact:
    test_release: "{{ lowest_release }}"
  when: oracle_rel == 'base' and not oracle_ver is match('^23.*')

- name: Determine Oracle RU | latest
  ansible.builtin.set_fact:
    test_release:  "{{ highest_release }}"
  when: oracle_rel == 'latest' and not oracle_ver is match('^23.*')

- name: Determine Oracle RU | 23
  ansible.builtin.set_fact:
    test_release:  "{{ oracle_ver }}"
  when: oracle_ver is match('^23.*')

- name: Determine Oracle RU | (base, latest)
  ansible.builtin.set_fact:
    oracle_ru_ver: "{{ test_release.split('.')[0] ~ '.' ~  test_release.split('.')[1]  ~ '.' ~  test_release.split('.')[3]  ~ '.' ~  test_release.split('.')[4] -}}"
  when: oracle_rel in  ['base', 'latest']

- name: Get OS Major Version
  ansible.builtin.set_fact:
    os_major_version: "{{ ansible_distribution_major_version }}"

- name: Get OS Current Version
  ansible.builtin.set_fact:
    os_current_version: "{{ ansible_distribution_major_version }}.{{ ansible_distribution_version.split('.')[1] }}"

- name: Get Kernel Flavor oracle (uek) or redhat (rh)
  ansible.builtin.set_fact:
    kernel_flavor: "{{ 'uek' if 'uek' in ansible_kernel | lower else 'rh' }}"

- name: Get some debug info
  vars:
    # Try to fetch the combo entry; keep it None if missing so we can detect absence
    test_combo: >-
      {{ (oracle_compatibility_matrix[oracle_major_ver] | default({}))[os_major_version] | default(None, true) }}
    my_entry_present: "{{ test_combo is not none }}"
    my_compatibility_reqs: "{{ test_combo | default({}) }}"
  ansible.builtin.set_fact:
    comp_reqs: "{{ my_compatibility_reqs }}"

- name: Linux, Kernel and Oracle Version Info
  ansible.builtin.debug:
    msg:
      - "Linux Release  = {{ os_current_version }}"
      - "OS Major Version = {{ os_major_version }}"
      - "Linux Version  = {{ kernel_version_full }}"
      - "Oracle Major Version = {{ oracle_major_ver }}"
      - "Oracle Version oracle_ver = {{ oracle_ver }}"
      - "Oracle Version oracle_ru_ver = {{ oracle_ru_ver }}"
      - "comp_reqs = {{ comp_reqs }}"

- name: Validate Oracle and Linux compatibility
  vars:
    # Try to fetch the combo entry; keep it None if missing so we can detect absence
    raw_combo: >-
      {{ (oracle_compatibility_matrix[oracle_major_ver] | default({}))[os_major_version] | default(None, true) }}
    entry_present: "{{ raw_combo is not none }}"
    compatibility_reqs: "{{ raw_combo | default({}) }}"

    # Kernel requirements sub-dict (may be empty)
    kernel_reqs: "{{ compatibility_reqs['min_kernel'] | default({}) }}"

    # Strict support rule:
    # - If the combo entry is missing -> unsupported
    # - If present, use 'supported' (default true) to allow explicit blocks
    is_supported: "{{ entry_present and (compatibility_reqs['supported'] | default(true)) }}"

    # Version checks default to "current value" when a requirement is absent,
    # so they won't fail independently of support status.
    min_linux_ok: >-
      {{ os_current_version is version((compatibility_reqs['min_linux_release'] | default(os_current_version)), '>=') }}

    max_linux_ok: >-
      {{ os_current_version is version((compatibility_reqs['max_linux_release'] | default(os_current_version)), '<=') }}

    kernel_ok: >-
      {{ kernel_version_full is version((kernel_reqs[kernel_flavor] | default(kernel_version_full)), '>=') }}

    ru_ok: >-
      {{ oracle_ru_ver is version((compatibility_reqs['min_db_ru'] | default(oracle_ru_ver)), '>=') }}

  ansible.builtin.assert:
    that:
      - is_supported
      - min_linux_ok
      - max_linux_ok
      - kernel_ok
      - ru_ok
    fail_msg: >-
      Incompatible combination detected.
      Current system:
        Linux Version: {{ os_current_version }}
        Kernel Version: {{ kernel_version_full }} ({{ kernel_flavor }})
        Oracle Version: {{ oracle_major_ver }} (RU: {{ oracle_ru_ver | default('n/a') }})

      Required compatibility:
        - The combination of Oracle {{ oracle_major_ver }} and Linux {{ os_major_version }} is not supported
          {{ '(no entry found in matrix)' if not entry_present else '' }}.
        - Allowed Linux range: {{ compatibility_reqs['min_linux_release'] | default('N/A') }}
          .. {{ compatibility_reqs['max_linux_release'] | default('N/A') }}.
        - Minimum kernel ({{ kernel_flavor }}): {{ kernel_reqs[kernel_flavor] | default('N/A') }}.
        - Minimum Oracle RU: {{ compatibility_reqs['min_db_ru'] | default('N/A') }}.

      Compatibility Override:
        - The compability checks may be overridden
        - set environment variable SKIP_PLATFORM_COMPATIBILITY=1
        - or use the '--skip-platform-compatibility' option when running 'install-oracle.sh'

  when: managed_host_checks and not skip_platform_compatibility
  tags: readiness_checks
