# -*- protobuffer -*-
# proto-file: google3/devtools/kokoro/config/proto/build.proto
# proto-message: BuildConfig

build_file: "oracle-toolkit/.kokoro/gcp_ubuntu_docker/kokoro_build.sh"

action {
  define_artifacts {
    paths: "oracle-toolkit-infra-manager.jar"
    # A friendly name for this set of artifacts, visible in Kokoro's UI.
    artifact_name: "oracle_toolkit_signed_package"
  }
}
