connect target "{{ rman_user }}/{{ rman_user_pass }}@//{{ lookup('env', 'PRIMARY_IP_ADDR') }}:{{ listener_port | default(1521) }}/{{ db_name }}{% if db_domain | default('') | length > 0 %}.{{ db_domain }}{% endif %} as sysdba";
connect auxiliary "{{ rman_user }}/{{ rman_user_pass }}@//{{ lookup('env', 'INSTANCE_IP_ADDR') }}:{{ listener_port | default(1521) }}/{{ standby_name }}{% if db_domain | default('') | length > 0 %}.{{ db_domain }}{% endif %} as sysdba";
DUPLICATE TARGET DATABASE
  FOR STANDBY
  FROM ACTIVE DATABASE
  DORECOVER
  SPFILE
    SET db_unique_name="{{ standby_name }}"
    RESET log_archive_config
    RESET log_archive_dest_1
    RESET log_archive_dest_2
    RESET log_archive_dest_3
    RESET log_archive_dest_4
    RESET log_archive_dest_5
    RESET log_archive_dest_6
    RESET log_archive_dest_7
    RESET log_archive_dest_8
    RESET log_archive_dest_9
    RESET log_archive_dest_10
  SECTION SIZE {{ section_size | default('32G', true) }}
  {% if oracle_ver_base != '11.2' %}USING {% if backupset_compression | default(false) | bool %}COMPRESSED{% endif %} BACKUPSET{% endif %};
